/*couleur 
rgb (#C8A79E) rose foncé
rgb (#F3E6E0) rose clair*/

@font-face {
font-family          : 'caviar_dreamsregular';
font-style           : normal;
font-weight          : normal;
src                  : url('font/caviardreams_regular_macroman/CaviarDreams-webfont.eot');
src                  : url('font/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'), url('font/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff'), url('font/caviardreams_regular_macroman/CaviarDreams-webfont.ttf') format('truetype'), url('font/caviardreams_regular_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
}

body {
display              : flex;
flex-direction       : row;
margin               : 0;
font-family          : caviar_dreamsregular,source sans pro,verdana;
letter-spacing       : 2px;
color                : #000;
background-color     : #FFF;
}

h1 {
margin-bottom        : 0;
text-transform       : uppercase;
font-size            : 70px;
}

h2,
h3 {
margin               : 2px 0 2px 0;
font-size            : 35px;
font-weight          : bold;
}

h3 {
padding-left         : 10px;
}

h4 {
padding              : 10px 0;
text-align           : center;
text-transform       : uppercase;
font-size            : 25px;
color                : #C8A79E;
background-color     : #F3E6E0;
}

h5 {
margin               : 0 0 14px 0;
font-size            : 20px;
}

h6 {
margin               : 2px 0;
font-size            : 15px;
}

p,
dl {
font-size            : 14px;
}

ul,
li {
padding              : 0;
font-size            : 14px;
list-style           : none;
}

/*ASIDE*/

aside {
background-color     : #C8A79E;
}

.aside_logo {
margin-top           : 40px;
text-align           : center;
}

.aside_logo img {
width                : 50%;
border               : solid 1px #C8A79E;
border-radius        : 100px;
}

.aside_list {
text-indent          : 30px;
}

.aside_list dt {
text-transform       : capitalize;
font-weight          : bold;
}

.aside_list dd {
margin               : 0 0 10px 0;
}

.aside_list_item {
text-transform       : capitalize;
}

.aside_body {
padding              : 0 30px;
text-align           : left;
}

.aside_icons {
display              : flex;
flex-direction       : row;
justify-content      : center;
}

.aside_icons_border {
margin               : 0 10px 10px 20px;
border               : solid 1.5px #000;
border-radius        : 50%;
}

.aside_icons_border img {
width                : 40px;
padding              : 10px;
}

main {
height               : 100%;
margin-left          : 50px;
padding              : 0 50px;
max-width            : 1200px;
}

/*HEADER*/

.header {
margin               : 70px 0 70px 0;
text-align           : left;
}

.header_title1 span {
font-weight          : bold;
color                : #C8A79E;
}

.header_title2 span {
padding              : 0 0 5px 0;
border-bottom        : solid 2px #C8A79E;
}

/*SECTION*/

.section_header {
display              : flex;
flex-direction       : row;
margin-bottom        : 30px;
padding              : 15px 0;
border-bottom        : solid 2px #C8A79E;
}

.section_header img {
width                : 40px;
height               : 40px;
padding              : 0 35px 0 0;
}

article {
margin-bottom        : 15px;
}

.article_grid {
display              : grid;
grid-template-columns: 30px 300px 1fr;
}

article i {
padding-top          : 2px;
grid-column          : 1;
grid-row             : 1;
}

.article_items_date,
.article_items_category {
grid-column          : 2;
grid-row             : 1;
}

.article_items_description,
.article_items_level {
text-align           : left;
grid-column          : 3;
grid-row             : 1;
}

.fas,
.far {
color                : #C8A79E;
}

.article_items_subtitles {
font-style           : italic;
font-weight          : lighter;
}

/*MEDIA AND SCREEN */

@media(min-width     :319px) and (max-width:767px) {
body {
flex-direction       : column;
font-size            : 15px;
}

h1 {
font-size            : 35px;
}

h2,
h3 {
font-size            : 15px;
}

h4 {
font-size            : 13px;
}

h5 {
font-size            : 11px;
}

h6 {
padding-right        : 7px;
font-size            : 10px;
}

p,
dl,
li {
font-size            : 10px;
}

main {
margin               : 0;
padding              : 0 10px;
}

.header {
margin               : 40px 0;
}

.section_header i {
font-size            : 1.5em;
}

.article_grid {
display              : grid;
grid-template-columns: 17px 100px 1fr;
}

article {
padding-top          : 10px;
}

.article_items_date,
.article_items_category {
padding              : 0 0 0 10px;
}

aside {
order                : 2;
margin-top           : 15px;
padding              : 0 15px;
}

.aside_logo img {
width                : 20%;
}

.aside_list {
text-align           : center;
text-indent          : 0;
}

.aside_icons img {
width                : 20px;
}

.aside_icons_border {
border               : solid 1px #000;
border-radius        : 50%;
}
}

@media(min-width     :768px) and (max-width:1023px) {
body {
display              : flex;
flex-direction       : column;
font-size            : 25px;
}

h1 {
font-size            : 50px;
}

h2,
h3 {
font-size            : 30px;
}

h4 {
font-size            : 23px;
}

h5 {
font-size            : 21px;
}

h6 {
font-size            : 18px;
}

p,
dl,
li {
font-size            : 18px;
}

main {
margin               : 0;
padding              : 15px;
}

.section_header i {
font-size            : 35px;
}

.article_grid {
display              : grid;
grid-template-columns: 22px 200px 1fr;
}

article {
padding-top          : 15px;
}

.article_items_date,
.article_items_category {
padding              : 0 0 0 15px;
}

aside {
order                : 2;
margin-top           : 15px;
padding              : 0 15px;
}

.aside_logo img {
width                : 20%;
}

.aside_list {
text-align           : center;
text-indent          : 0;
}

.aside_icons img {
width                : 40px;
}

.aside_icons_border {
border               : solid 1.5px #000;
border-radius        : 50%;
}
}

@media(min-width     :1024px) and (max-width:1199px) {
body {
display              : flex;
flex-direction       : column;
font-size            : 30px;
}

h1 {
font-size            : 65px;
}

h2,
h3 {
font-size            : 35px;
}

h4 {
font-size            : 28px;
}

h5 {
font-size            : 26px;
}

h6 {
font-size            : 23px;
}

p,
dl,
li {
font-size            : 20px;
}

main {
margin-left          : 0;
padding              : 0 50px;
}

.section_header i {
font-size            : 45px;
}

.article_items_date,
.article_items_category {
padding              : 0 0 0 20px;
}

aside {
order                : 2;
margin-top           : 15px;
padding              : 0 50px;
}

.aside_logo img {
width                : 20%;
}

.aside_list {
text-align           : center;
text-indent          : 0;
}

.aside_icons img {
width                : 40px;
}

.aside_icons_border {
border               : solid 1.5px #000;
border-radius        : 50%;
}
}

@media(min-width     :1200px) {
body {
justify-content      : center;
}

aside {
max-width            : 370px;
}

main {
max-width            : 1200px;
}
}