/*couleur 
rgb (#C8A79E) rose foncé
rgb (#F3E6E0) rose clair*/

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/caviardreams_regular_macroman/CaviarDreams-webfont.eot');
    src: url('font/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('font/caviardreams_regular_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/caviardreams_regular_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	display: flex;
	justify-content: space-between;
	margin: 0;
	font-family:caviar_dreamsregular, source sans pro, verdana;
	letter-spacing: 2px;
	color: #000000;
	background-color: #FFFFFF;	
}
h1 {
	margin-bottom: 0;
	font-size: 70px;
	text-transform: uppercase;
}
h2, h3 {
	font-weight: bold;
	font-size: 35px;
	margin: 2px 0 2px 0;
}
h4 {
	padding: 10px 0;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	color: #C8A79E;
	background-color: #F3E6E0;
}
ul, li { list-style-type: none; }

aside {
	width: 40%;
	background-color: #C8A79E;
}
main {
	height: 100%;
	padding: 0 50px;
}
header {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	text-align: center;
}
article {
	display: flex;
	flex-direction: row;
}

/*ASIDE*/

.aside_logo {
	margin-top: 40px;
	text-align: center;
}
.aside_logo img {
	width: 50%;
	border: solid 2px #C8A79E;
	border-radius: 100px;
}
.aside_list {
	padding: 10px 0;
	font-size: 15px;
	text-indent: 30px;
}
.aside_list dt {
	font-weight: bold;
	text-transform: capitalize;
}
.aside_list dd { margin: 0 0 10px 0; }

.aside_list_item { text-transform: capitalize; }

.aside_body {
	padding: 10px 30px 10px 30px;
	font-size: 15px;
	text-align: justify;
}
.aside_icons {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
}
.aside_icons_border {
	border : solid 2px black;
	border-radius: 50%;
}
.aside_icons img {
	width: 40px;
	padding: 10px;
}

/*HEADER*/

.header_span_color {
	color: #C8A79E;
	font-weight: bold;
}
.header_span_underline {
	border-bottom: solid 2px #C8A79E;
	padding: 0 0 5px 0;
}
/*SECTION*/

.section_header {
	display: flex;
	flex-direction: row;
	border-bottom: solid 2px #C8A79E;
	padding-top: 15px;
	margin-bottom: 30px;
}
.section_header img {
	width: 40px;
	padding: 0 35px 0 0;
}
article img{
	width: 20px;
	height: 50px;
}
.article_list_items_left{
	width: 20%;
	padding: 0 0 0 20px;
}

.article_list_items_right{ width: 80%; }

article span { font-weight: bold; }

									/*MEDIA AND SCREEN 600*/

/*@media screen and (max-width: 600px) {

.titre1bloc1, .titre1bloc2, .titre1bloc3 {
	font-size: 9px;}

.para1bloc1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 6px;
	padding: 20px 0;}

dl {
	text-indent : 4px;}

.para1bloc2 {
	font-size: 6px;
	padding: 20px 0 20px 4px;}

.iconesbloc3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px}

.bordericonsbloc3 {
	margin-bottom: 15px;}

.icons1bloc3 {
	width: 12px;
	padding: 5px;}

.icons2bloc3 {
	width: 12px;
	padding: 6px 5px 0px 5px;}

.icons3bloc3 {
	width: 12px;
	padding: 5px}

.coldroite {
	padding-left: 10px;}

.titre1header {
	font-size: 18px;}

.titre2header {
	font-size: 9px;}

.headerarticle {
	margin-bottom: 10px;}

.iconsarticle1,.iconsarticle2,.iconsarticle3 {
	width: 15px;
	padding: 0 10px 0 0;}

.titre1article {
	font-size: 9px;}

.pucelist {
	width: 10px;
}

.listarticle2,.listarticle1 {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	font-size: 6px;
	padding: 10px;}

.list2article1 {
	width: auto;
	padding: 0 0 0 20px;}

.list3article1 {
	text-align: justify;
	padding-left: 30px;}

.list2article2 {
	width: 50%;
	padding: 0 0 0 20px;}

.listarticle3 {
	height: 30px;}

.list2article3 {
	width: 25%;
	padding: 0 30px 0 20px;
	margin: 13px 0 0 0;
	font-size: 6px;}

.list3article2 {
	padding-left: 30px;
}

.pucesarticle {
	margin: 5px 0 0 0;}

.puce2list {
	width: 8px;}

}*/

						/*OU*/

/*@media screen and (max-width: 600px) {
.col {
	display: flex;
	flex-direction: column;
	font-size: 15px;}

aside {
	order: 2;
	width: auto;
	height: 100%;
	background-color: #C8A79E;}

.imglogo {
	width: 20%;}

.titre1bloc1, .titre1bloc2, .titre1bloc3 {
	font-size: 20px;}

.para1bloc1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;}

.icons1bloc3 {
	width: 30px;
	padding: 10px;}

.icons2bloc3 {
	width: 30px;
	padding: 12px 10px 0px 10px;}

.icons3bloc3 {
	width: 30px;
	padding: 10px;}

.coldroite {
	order: 1;
	width: auto;
	padding: 0 50px;}

.titre2header{
	font-size: 20px;}

.titre1article {
	font-size: 20px;}

.iconsarticle1,.iconsarticle2,.iconsarticle3 {
	width: 30px;
	padding: 0 10px 0 0;}

.listarticle2,.listarticle1 {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;}

.list2article2,.list2article1 {
	width: 60%;
	padding: 0 0 0 20px;}

.list3article1 {
	text-align: justify;}

.list3article2 {
	width: 100%;
	padding-left: 40px;}

.list2article3 {
	width: 20%;
	padding: 0 60px 0 0px;
margin-right: 40px;}

}*/

									/*MEDIA AND SCREEN 800*/

/*@media all and (min-width: 601px) and (max-width: 800px) {

.titre1bloc1, .titre1bloc2, .titre1bloc3 {
	font-size: 15px;}

.para1bloc1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 10px;}

dl {
	text-indent : 4px;}

.para1bloc2 {
	font-size: 10px;
	text-align: justify;
	padding: 20px 0 20px 4px;}

.icons1bloc3 {
	width: 20px;}

.icons2bloc3 {
	width: 20px;}

.icons3bloc3 {
	width: 20px;}

.iconsarticle1,.iconsarticle2,.iconsarticle3 {
		width: 25px;
		padding: 0 10px 0 0;}

.titre1header {
	font-size: 50px;}

.titre2header {
	font-size: 20px;}

.headerarticle {
	margin-bottom: 10px;}

.titre1article {
	font-size: 20px;}

.listarticle2,.listarticle1 {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	font-size: 10px;
	padding: 10px;}

.list2article1 {
	width: auto;
	padding: 0 0 0 20px;}

.list3article1 {
	text-align: justify;}

.list2article2 {
	width: 50%;
	padding: 0 0 0 20px;}

.list2article3 {
	height: 30px;
	padding: 0 30px 0 20px;
	margin: 10px 0 0 0;
	font-size: 10px;}

.list3article2 {
	padding-left: 40px;
}

.pucesarticle {
	margin: 5px 0 0 0;}

}*/

						/*OU*/
/*
@media all and (min-width: 601px) and (max-width: 800px) {

.col {
	display: flex;
	flex-direction: column;
	font-size: 15px;}

aside {
	order: 2;
	width: auto;
	height: 100%;
	background-color: #C8A79E;}

.imglogo {
	width: 20%;}

.titre1bloc1, .titre1bloc2, .titre1bloc3 {
	font-size: 20px;}

.para1bloc1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;}

.icons1bloc3 {
	width: 30px;
	padding: 10px;}

.icons2bloc3 {
	width: 30px;
	padding: 12px 10px 0px 10px;}

.icons3bloc3 {
	width: 30px;
	padding: 10px;}

.coldroite {
	order: 1;
	width: auto;
	padding: 0 50px;}

.titre1header {
	font-size: 50px;}

.titre2header {
	font-size: 20px;}

.titre1article {
	font-size: 20px;}

.iconsarticle1,.iconsarticle2,.iconsarticle3 {
	width: 30px;
	padding: 0 10px 0 0;}

.listarticle1 {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;}

.list2article1 {
	width: auto;
	padding: 0 0 0 20px;}

.list3article1 {
	text-align: justify;}

.list2article3 {
	width: 20%;
	padding: 0 60px 0 40px;}

.list2article2 {
	width: 28%;}

br {
	display: none;}

} */